body {
  margin: 0;
  padding: 0;
  background-color: #1c1b24;
}

section {
  font-family: "Raleway", "Roboto", sans-serif;
  color: aliceblue;
  height: 600px;
  padding: 10px 0;
  position: relative;
}

.container {
  width: 1270px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  border: 10px solid rgba(86, 85, 103, 0.3);
}

/* header */

.section .header {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  box-shadow: inset 0 -2px 0 0 #565567;
}

.section .header .navigation nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding-left: 0px;
}

.section .header .navigation nav ul li a {
  font-size: 20px;
  font-weight: 600px;
  color: aliceblue;
  letter-spacing: 5px;
  text-decoration: none;
}

/* cards */

.cards {
  padding-left: 100px;
  padding-top: 50px;
}

.cards .card {
  width: 250px;
  height: 250px;
  position: relative;
}

.cards .card a img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.cards .card a p {
  position: absolute;
  font-size: 50px;
  color: aliceblue;
  padding-top: 145px;
  padding-left: 30px;
}
